Django>=5.0,<6.0
djangorestframework>=3.15.0
django-filter>=24.2
pillow>=10.3.0
drf-spectacular>=0.27.2
pytest>=8.0.0
pytest-django>=4.8.0
factory-boy>=3.3.0
ruff>=0.4.0
black>=24.4.0
django-cors-headers>=4.3.1
